/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* small screan */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium screan  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large screan  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */
/* start  */
.page {
    height: 100vh;
}

.page::before {
    content: "";
    position: fixed;
    width: 300%;
    height: 100%;
    background-color: #0075ff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    border-radius: 50%;
    z-index: -1;
    animation: waving 5s ease-in-out infinite alternate;
}

.card {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.card div {
    border: 1px solid rgb(15, 135, 221);
    width: 100%;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    background-color: rgb(15, 135, 221);
    position: relative;
    border-radius: 10px;
}

.card div span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
}


.card p {
    font-size: 18px;
}


@keyframes waving {
    from {
        transform: translateX(-50%) skew(0, -10deg);
    }

    to {
        transform: translateX(-30%) skew(10deg, 0);
    }
}

/* end  */